// Place all the styles related to the Tiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$tile_size: 34px;
$nb_tile_per_row: 35;
$nb_tile_per_col: 15;
#maps {
  position: relative;
  height: $nb_tile_per_col*$tile_size;
  width: $nb_tile_per_row*$tile_size;
  background-color: #CCCCCC;
}

#maps > div {
  position: absolute;
  height: $tile_size;
  width: $tile_size;
  font-size: 10px;
}
#maps > .grid {
  border: dashed 1px green;
  height: $tile_size - 1;
  width: $tile_size - 1;
  margin-top: -1px;
  margin-left: -1px;
  z-index: 100;
}

/*   fields = ['f', 'h', 'w', 'p', 'a'] */
.field-f{background-color: #999900;}
.field-h{background-color: #009900;}
.field-w{background-color: #0033CC;}
.field-p{background-color: #66CC33;}
.field-a{background-color: #FFFF66;}


@for $i from 1 through $nb_tile_per_row*$nb_tile_per_col {
    $x: ($i % $nb_tile_per_row)+1;
    $y: ceil($i/$nb_tile_per_row);

    .tile-#{$x}-#{$y} {
      top: $y * $tile_size - $tile_size;
      left: $x * $tile_size - $tile_size;
    }
  }

#new-building {
  position: absolute; z-index: 90;
  background-color: red;
  .allwoed{background-color: green;}
}

@for $w from 1 through 5 {
  @for $h from 1 through 5 {

    .size-#{$w}x#{$h} {
      width: $w * $tile_size;
      height: $h * $tile_size;
    }
  }
}

